      ul {
            font-size: 12px;
        }
        aside, footer {
            padding: 70px 0
        }
        .bg-img {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          height: 80px;
        }
        @media (min-width: 768px) {
            .bg-img {
                height: 120px; 
            }
        }
        @media (min-width: 992px) {
            .bg-img {
                height: 160px; 
            }
        }
        @media (min-width: 1200px) {
            .bg-img {
                height: 420px; 
            }
        }
